# Also ignore uploads folder at root
uploads/
# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
ENV/
venv/


# Secret keys and user attributes
app/data/*.key
app/data/*.json

# Encrypted files and private keys
app/uploads/
app/user_keys/*_privkey.json
app/user_keys/master_key.json

# VSCode and OS-specific files
.vscode/
*.DS_Store
Thumbs.db

# Logs or temporary files (if any)
*.log
*.tmp

# PyInstaller
*.spec
dist/
build/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environment variables
.env
